@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.record {
  background: black;
  border-radius: 50%;
  height: 600px;
  width: 600px;
}

.label {
  background: white;
  border-radius: 50%;
  flex-direction: column;
  height: 200px;
  position: relative;
  width: 200px;
}

.text {
  position: absolute;
  top: 40px;
  color: black;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

.hole {
  background: #282c34;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
